@import '../component/scss/mixins';


header {
    @include padding;
    background-color: #130B22;

    nav {
        @include flexbox-space-between-wrap;
    }

    .navlink {
        margin: 0 0 -3rem 1rem;
        color: white;
        text-decoration: none;
    }

    button {
        color: transparent;
        background-color: #130B22;
        border: none;
        color: white;
    }

    .sign {
        @include sign;

    }

}