@mixin flexbox-align-center {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

@mixin flexbox-space-between-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@mixin flexbox-space-between {
    display: flex;
    justify-content: space-between;
}

@mixin padding {
    padding: 1rem clamp(1rem, 6vw, 6rem);
}

@mixin sign {
    background-color: #8C52FF;
    padding: 1rem 2rem;
    border-radius: 20px;
    border: none;
    color: white;
    margin: 0 2rem;
}

@mixin find {
    padding: 1rem 2rem;
    border: 1px solid #8C52FF;
    color: #8C52FF;
    border-radius: 24px;
    font-size: 20px;
}